[Unit]
Description=ACME Respond-Or-Forward Listener
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=root
StandardOutput=journal+console
StandardError=inherit
ExecStart=/usr/bin/python3 -u /usr/local/bin/acme-rofl --certbot

[Install]
WantedBy=multi-user.target
